<table data-module="advanced-table">
	<caption>
		<span>Example table: {{ data.[0].caption }}</span>
	</caption>

	{{#each data.[0].colgroups as |colgroup|}}
		<colgroup>
			{{#each colgroup}}
			<col>
			{{/each}}
		</colgroup>
	{{/each}}

	{{#if data.[0].header}}
		<thead>
			<th scope="col">Country - language</th>
			{{#each data.[0].header as |header|}}
				<th>{{ header }}</th>
			{{/each}}
		</thead>
	{{/if}}

	<tbody>
		{{#each data.[0].body as |row|}}
			<tr>
				{{#each row as |colgroup|}}
					{{#if @first}}
						{{#each colgroup as |col|}}
								<th>{{ col.country }} - {{ col.language }}</th>
						{{/each}}
					{{else}}
						{{#each colgroup as |col|}}
							<td>{{ col }}</td>
						{{/each}}
					{{/if}}
				{{/each}}
			</tr>
		{{/each}}
	</tbody>

	<tfoot>
		<tr>
			<th scope="col">Total</th>
			<th scope="col"></th>
			<th scope="col">ges</th>
			<th scope="col"></th>
			<th scope="col">ergs</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col">esgr</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</tfoot>
</table>
