<table>
	<caption>
		<span>Table 1: Notations by country</span>
	</caption>
	
	{{#each tables.[0].colgroups as |colgroup|}}
		<colgroup>
			{{#each colgroup}}
			<col>
			{{/each}}
		</colgroup>
	{{/each}}
	
	{{#if tables.[0].header}}
		<thead>
			<th></th>
			{{#each tables.[0].header as |header|}}
				<th>{{ header }}</th>
			{{/each}}
		</thead>
	{{/if}}	
	
	<tbody>
		{{#each tables.[0].body as |row|}}
			<tr>
				{{#each row as |colgroup|}}
					{{#if @first}}
						{{#each colgroup as |col|}}
								<th>{{ col.country }} - {{ col.language }}</th>
						{{/each}}
					{{else}}
						{{#each colgroup as |col|}}
							<td>{{ col }}</td>
						{{/each}}
					{{/if}}
				{{/each}}			
			</tr>
		{{/each}}
	</tbody>
	
	{{#if tables.[0].footer}}
	<tfoot>
		<tr>
		</tr>
	</tfoot>
	{{/if}}
</table>
